@tailwind base;
@tailwind components;
@tailwind utilities;
.main{
  width: 60%;
  background-color: white;
  min-height: 100vh !important; 
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5 );
  margin: 10px auto 10px auto !important;
}
.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1px;
  z-index: 2;
  background-color: #f3f3f3;
  border: none !important;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5 );

}
.ql-editor{
  min-height: 100vh !important;
}